<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Carpenter</string>
		<key>image</key>
		<string>Carpenter</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Interior Designer</string>
		<key>image</key>
		<string>Interior</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Architect</string>
		<key>image</key>
		<string>Architecture</string>
	</dict>
</array>
</plist>
